# Visual Studio files
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

# Compilation files
*.obj
*.o
*.pdb
*.idb
*.ipch
*.aps
*.ncb
*.tlog

# Resultant files
*.exe
*.dll
*.lib
*.exp

# Compilation folders
Debug/
Release/
x64/
x86/
ARM/
ipch/
out/
build/

# Temporary files
*.log
*.tmp

# Editorial backups
*~
*.bak

# Environmental files
*.sdf

# Build
!Milionerzy-Build/
!Milionerzy-Build/*.exe
!Milionerzy-Build/*.dll